<div class="max-w-3xl mx-auto animate-fade-in">

  <button
    (click)="goBack()"
    class="mb-6 text-primary font-bold hover:underline bg-transparent border-none cursor-pointer flex gap-2 items-center transition-colors">
    <i class="pi pi-arrow-left"></i> Zmień miejsca
  </button>

  <app-expiration-timer/>

  <div class="bg-surface-0 border border-surface-200 rounded-xl p-6 shadow-sm">

    <div class="flex justify-between items-center mb-6">
      <h3 class="text-xl font-bold text-900 m-0">Skonfiguruj bilety</h3>
      <span class="text-sm text-500">
        Rezerwacja #{{ store.activeBooking()?.id }}
      </span>
    </div>

    <div class="flex flex-col gap-4">

      @for (ticket of store.ticketsToDisplay(); track ticket.id) {
        <div
          class="flex flex-col md:flex-row md:items-center justify-between p-4 surface-50 rounded-lg border border-surface-200 gap-4 transition-all hover:border-primary-500">

          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 rounded-lg bg-primary-100 text-primary-700 flex items-center justify-center font-bold text-lg border border-primary-200">
              {{ ticket.seatNumber }}
            </div>

            <div>
              <p class="text-xs uppercase text-500 font-bold tracking-wider mb-1">
                Rząd {{ ticket.row }}
              </p>
              <div class="flex items-center gap-2">
                <span class="text-900 font-bold">Bilet #{{ ticket.id }}</span>
                <i class="pi pi-ticket text-primary-500 text-xs"></i>
              </div>
            </div>
          </div>

          <div class="w-full md:w-64">
            <p-select
              [options]="ticketOptions()"
              optionLabel="label"
              optionValue="value"
              placeholder="Wybierz typ"
              fluid="true"
              appendTo="body"
              variant="filled"

              [ngModel]="store.ticketSelections()[ticket.id] || ticket.type"
              (onChange)="store.updateLocalTicketType(ticket.id, $event.value)">
            </p-select>
          </div>
        </div>
      }
    </div>

    <div
      class="mt-8 pt-6 border-t border-surface-200 flex flex-col sm:flex-row justify-between items-center gap-4">

      <div class="text-center sm:text-left">
        <p class="text-500 text-sm mb-1 uppercase tracking-wider">Do zapłaty</p>
        <div class="flex items-baseline gap-2">
          <p class="text-3xl font-bold text-primary-600">
            {{ store.totalPrice() | number:'1.2-2' }} <span class="text-lg text-900">PLN</span>
          </p>
          <i class="pi pi-info-circle text-500"
             pTooltip="Cena zaktualizowana dynamicznie"></i>
        </div>
      </div>

      <p-button
        label="Zatwierdź i Płać"
        icon="pi pi-check"
        iconPos="right"
        [loading]="store.isLoading()"
        (onClick)="finishBooking()"
        fluid
      >
      </p-button>
    </div>

  </div>
</div>
