<article class="flex flex-col gap-8 animate-fade-in-up">

  <section>
    <h2 class="text-2xl font-bold mb-4 flex items-center gap-3 text-main">
      <i class="pi pi-align-left text-primary"></i>
      Opis fabuły
    </h2>

    <p class="text-lg leading-relaxed whitespace-pre-line text-muted">
      {{ movie().description }}
    </p>
  </section>

  @if (embedUrl(); as url) {
    <section class="mt-4">
      <h2 class="text-2xl font-bold mb-4 flex items-center gap-3 text-main">
        <i class="pi pi-youtube text-red-600"></i>
        Zwiastun
      </h2>

      <div class="rounded-xl overflow-hidden shadow-2xl border border-app-border bg-black aspect-video relative group">
        <iframe
          width="100%"
          height="100%"
          [src]="url | safeUrl"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
          class="absolute inset-0 w-full h-full"
        ></iframe>
      </div>
    </section>
  }
</article>
