<div class="container mx-auto p-4">

  @if (store.isLoading()) {
    <app-spinner [label]="'Ładowanie danych rezerwacji'"/>
  } @else {
    @if (store.movie() && store.screening()) {
      <div class="flex gap-6 flex-col justify-center">
        <app-movie-card-booking
          [movie]="store.movie()!"
          [screening]="store.screening()!">
        </app-movie-card-booking>

        <router-outlet/>
      </div>

    } @else {
      <div class="text-center p-10 text-red-500">
        Nie znaleziono danych rezerwacji
      </div>
    }
  }

</div>
