<div class="container mx-auto p-4">

  @if (store.isLoading()) {
    <div class="card flex justify-center">
      <p-progress-spinner strokeWidth="8" fill="transparent"
                          [style]="{ width: '50px', height: '50px' }"
                          ariaLabel="Ładowanie danych rezerwacji"/>
    </div>
  } @else {
    @if (store.movie() && store.screening()) {

      <app-movie-card-booking
        [movie]="store.movie()!"
        [screening]="store.screening()!">
      </app-movie-card-booking>

      <div class="mt-8">
        <h2 class="text-xl font-bold">Wybierz miejsce:</h2>
      </div>

    } @else {
      <div class="text-center p-10 text-red-500">
        Nie znaleziono danych rezerwacji
      </div>
    }
  }

</div>
