<p-confirmDialog />

<p-table [value]="store.movies()" [loading]="store.isLoading()">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
      <th pSortableColumn="title">Tytuł <p-sortIcon field="title" /></th>
      <th pSortableColumn="genre">Gatunek <p-sortIcon field="genre" /></th>
      <th pSortableColumn="director">Reżyser <p-sortIcon field="director" /></th>
      <th pSortableColumn="durationMinutes">
        Czas trwania (min) <p-sortIcon field="durationMinutes" />
      </th>
      <th pSortableColumn="ageRating">Wiek <p-sortIcon field="ageRating" /></th>
      <th>Akcje</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-movie>
    <tr>
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.durationMinutes }}</td>
      <td>{{ movie.ageRating }}+</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit(movie)"
        >
          Edytuj
        </button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-text p-button-danger p-button-sm"
          (click)="onDelete(movie)"
        >
          Usuń
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
