<p-table [value]="store.movies()" [loading]="store.isLoading()">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Tytuł</th>
      <th>Gatunek</th>
      <th>Reżyser</th>
      <th>Czas trwania (min)</th>
      <th>Wiek</th>
      <th>Akcje</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-movie>
    <tr>
      <td>{{ movie.id }}</td>
      <td>{{ movie.title }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.durationMinutes }}</td>
      <td>{{ movie.ageRating }}+</td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text p-button-sm"
          (click)="onEdit(movie)"
        ></button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-text p-button-danger p-button-sm"
          (click)="onDelete(movie)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>
