<div class="max-w-4xl mx-auto p-6 animate-fade-in">

  <div class="bg-surface-0 border border-surface-200 rounded-xl p-6 mb-8 shadow-sm flex justify-between items-center">
    <div>
      <h1 class="text-2xl font-bold mb-1">Witaj, {{ authStore.displayName() }}</h1>
      <p class="text-gray-500">{{ authStore.user()?.email }}</p>
    </div>

    <p-button
      label="Edytuj Profil"
      icon="pi pi-user-edit"
      routerLink="/profile/edit">
    </p-button>
  </div>

  <div class="bg-surface-0 border border-surface-200 rounded-xl p-6 shadow-sm">
    <h2 class="text-xl font-bold mb-4">Twoje rezerwacje</h2>

    <p-table
      [value]="bookingStore.items()"
      [lazy]="true"
      (onLazyLoad)="onLazyLoad($event)"
      [paginator]="true"
      [rows]="5"
      [totalRecords]="bookingStore.totalRecords()"
      [loading]="bookingStore.isLoading()"
      [rowsPerPageOptions]="[5, 10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nr</th>
          <th>Film</th>
          <th>Data</th>
          <th>Kwota</th>
          <th>Status</th>
          <th>Akcje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-booking>
        <tr>
          <td>#{{ booking.id }}</td>
          <td class="font-bold">{{ booking.movieTitle }}</td>
          <td>{{ booking.startTime | date:'short' }}</td>
          <td>{{ booking.totalAmount | number:'1.2-2' }} PLN</td>
          <td>
            <span [class]="'badge status-' + booking.status">
              {{ booking.status }}
            </span>
          </td>
          <td>
            <p-button
              icon="pi pi-search"
              [rounded]="true"
              [text]="true"
              (onClick)="goToDetails(booking.id)"
              pTooltip="Szczegóły">
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center p-4">Nie masz jeszcze żadnych rezerwacji.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
