<div [formGroup]="parentForm()" class="bg-surface-0 p-6 border rounded-xl shadow-sm flex flex-col gap-4">

  <div class="flex items-center gap-2">
    <p-checkbox
      [binary]="true"
      [formControl]="wantsInvoiceControl()"
      inputId="invoiceCheck"
    />
    <label for="invoiceCheck" class="font-bold cursor-pointer select-none">
      Chcę otrzymać fakturę VAT
    </label>
  </div>

  @if (wantsInvoiceControl().value) {
    <div formGroupName="invoice" class="grid grid-cols-1 md:grid-cols-2 gap-4 animate-fade-in pt-2 border-t mt-2">

      <div class="flex flex-col gap-2 md:col-span-2">
        <label class="text-sm font-bold" for="companyName">Nazwa firmy *</label>
        <input pInputText formControlName="companyName" id="companyName"/>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-bold" for="nip">NIP *</label>
        <input pInputText formControlName="nip" id="nip"/>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-sm font-bold" for="address">Adres *</label>
        <input pInputText formControlName="address" id="address"/>
      </div>

    </div>
  }
</div>
