<div class="max-w-3xl mx-auto animate-fade-in pb-10">

  <h2 class="text-2xl font-bold mb-6">Potwierdź dane</h2>

  <form [formGroup]="form" class="flex flex-col gap-6">

    <div class="bg-primary-50 border border-primary-200 text-primary-900 px-4 py-3 rounded-lg flex items-center gap-3">
      <i class="pi pi-user text-xl"></i>
      <div>
        Rezerwujesz jako <span class="font-bold">{{ authStore.displayName() }}</span>.
      </div>
    </div>

    <div formGroupName="contact" class="bg-surface-0 p-6 border rounded-xl shadow-sm flex flex-col gap-4">
      <h3 class="font-bold text-lg">Dane kontaktowe</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <label class="font-bold text-sm text-gray-700">E-mail</label>
          <input pInputText formControlName="email"/>
          <small class="text-gray-500">Pobrane z Twojego konta</small>
        </div>

        <div class="flex flex-col gap-2">
          <label class="font-bold text-sm text-gray-700">Telefon *</label>
          <input pInputText formControlName="phone" placeholder="123 456 789"/>
        </div>
      </div>
    </div>

    <div class="bg-surface-0 p-6 border rounded-xl shadow-sm flex flex-col gap-4">
      <h3 class="font-bold text-lg flex items-center gap-2">
        Imiona na biletach <span class="text-sm font-normal text-gray-400 ml-auto">(Opcjonalne)</span>
      </h3>

      <div formArrayName="holders" class="flex flex-col gap-3">
        @for (control of holdersArray.controls; track $index) {
          <div [formGroupName]="$index" class="flex items-center gap-4 p-3 border rounded-lg bg-gray-50">
            <div
              class="w-10 h-10 bg-white border text-primary-700 font-bold flex items-center justify-center rounded-lg">
              {{ control.value.seatNumber }}
            </div>
            <div class="flex-1">
              <input pInputText formControlName="name" placeholder="Dla kogo ten bilet?" class="w-full p-inputtext-sm"/>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="flex justify-between mt-4">
      <p-button
        label="Wróć"
        icon="pi pi-arrow-left"
        [outlined]="true"
        severity="secondary"
        (onClick)="goBack()">
      </p-button>

      <p-button
        label="Podsumowanie"
        icon="pi pi-arrow-right"
        iconPos="right"
        (onClick)="submit()">
      </p-button>
    </div>
  </form>
</div>
