<div class="max-w-3xl mx-auto animate-fade-in pb-10">
  <h2 class="text-2xl font-bold mb-6">Potwierdź dane</h2>

  <form [formGroup]="form" class="flex flex-col gap-6">

    <div formGroupName="contact" class="bg-surface-0 p-6 border rounded-xl shadow-sm flex flex-col gap-4">
      <h3 class="font-bold text-lg">Dane kontaktowe</h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col gap-2">
          <label class="font-bold text-sm text-gray-700" for="email">E-mail</label>
          <input pInputText formControlName="email" id="email"/>
          <small class="text-gray-500">Pobrane z Twojego konta</small>
        </div>

        <div class="flex flex-col gap-2">
          <label class="font-bold text-sm text-gray-700" for="phone">Telefon *</label>
          <input pInputText formControlName="phone" id="phone" placeholder="123456789"/>

          @if (form.get('phone')?.invalid && form.get('phone')?.touched) {
            <small class="text-red-500">Numer telefonu jest wymagany</small>
          }
        </div>
      </div>
    </div>

    <app-invoice-section-component
      [parentForm]="form"
      [wantsInvoiceControl]="form.controls.wantsInvoice"
    />

    <app-ticket-holders-component
      [holdersArray]="form.controls.holders"
    />

    <div class="flex justify-between mt-4">
      <p-button
        label="Wróć"
        icon="pi pi-arrow-left"
        [outlined]="true"
        severity="secondary"
        (onClick)="goBack()">
      </p-button>

      <p-button
        label="Podsumowanie"
        icon="pi pi-arrow-right"
        iconPos="right"
        (onClick)="submit()">
      </p-button>
    </div>

  </form>
</div>
