<div
  class="group flex flex-col md:flex-row gap-6 p-5 bg-element border border-app-border rounded-2xl shadow-sm hover:shadow-md hover:border-primary/30 transition-all duration-300">

  <div class="relative w-full md:w-48 shrink-0 overflow-hidden rounded-xl aspect-[2/3]">
    <img
      [src]="item().movie.posterUrl"
      [alt]="item().movie.title"
      class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110"
    />
    <div class="absolute bottom-0 left-0 w-full bg-gradient-to-t from-black/80 to-transparent p-3">
      <span class="text-white text-xs font-bold">{{ item().movie.genre }}</span>
    </div>
  </div>

  <div class="flex-1 flex flex-col">

    <div class="flex justify-between items-start mb-2">
      <h2 class="text-2xl font-bold text-main group-hover:text-primary transition-colors">
        {{ item().movie.title }}
      </h2>
      <div class="flex gap-2">
        <p-tag [value]="16 + '+'"></p-tag>
        <span class="text-app-muted text-sm flex items-center gap-1">
                     <i class="pi pi-clock"></i> {{ item().movie.durationMinutes }} min
                   </span>
      </div>
    </div>

    <p class="text-app-muted line-clamp-2 mb-6 text-sm">
      {{ item().movie.description }}
    </p>

    <div class="mt-auto">
      <p class="text-xs uppercase text-app-muted font-bold mb-3 tracking-wider">
        Dostępne seanse:
      </p>

      <div class="flex flex-wrap gap-3">
        @for (screening of item().screenings; track screening.id) {
          <app-repertoire-screening [screening]="screening"/>
        }
      </div>
    </div>

  </div>
</div>
