<div [routerLink]="['/movie', movie().id]" class="block no-underline h-full">

  <p-card
    class="h-full bg-app-element border border-app-border overflow-hidden shadow-lg hover:shadow-2xl hover:-translate-y-1 transition-all duration-300 group rounded-lg"
  >

    <ng-template pTemplate="header">
      <div class="relative aspect-[2/3] overflow-hidden">
        <img
          [alt]="movie().title"
          [src]="movie().posterUrl"
          class="object-cover w-full h-full group-hover:scale-105 transition-transform duration-500"
        />

        <p-tag
          [value]="movie().ageRating + '+'"
          class="absolute top-2 right-2 !bg-black/70 !text-white border border-white/20 backdrop-blur-sm"
        />
      </div>
    </ng-template>

    <div class="flex flex-col gap-2">
      <h3 class="text-lg font-bold m-0 text-app-text">
        {{ movie().title }}
      </h3>

      <p class="text-sm m-0 mb-2 text-app-muted">
        {{ movie().genre | genreName }} | {{ movie().durationMinutes }} min
      </p>
    </div>

    <ng-template pTemplate="footer">
      <p-button
        label="Szczegóły"
        [fluid]="true"
        size="small"
      />
    </ng-template>

  </p-card>
</div>
