<div class="container mx-auto px-4 py-8">

  <h1 class="text-3xl font-bold mb-8 text-main border-l-4 border-primary pl-4">
    Repertuar Kinowy
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-[280px_1fr] gap-8 items-start">

    <app-movie-filter [currentFilters]="store.filters()"
                      (filterChange)="onFiltersChanged($event)"/>

    <main>
      @if (store.isLoading()) {
        <div class="flex justify-center py-20">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-primary"></div>
        </div>
      } @else if (store.error()) {
        <div class="p-4 bg-red-100 text-red-700 rounded-lg">
          Wystąpił błąd: {{ store.error() }}
        </div>
      } @else {

        @if (store.filteredMovies().length > 0) {
          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            @for (movie of store.filteredMovies(); track movie.id) {
              <app-movie-card [movie]="movie"></app-movie-card>
            }
          </div>
        } @else {
          <div
            class="flex flex-col items-center justify-center py-20 bg-element rounded-lg border border-dashed border-[var(--border-color)]">
            <p class="text-xl text-main font-bold mb-2">Brak filmów</p>
            <p class="text-[var(--text-muted)]">Spróbuj zmienić kryteria wyszukiwania.</p>
          </div>
        }

      }
    </main>

  </div>
</div>
