<div class="max-w-2xl mx-auto pb-20">
  @if (store.isPaymentSuccess()) {
    <app-booking-confirmation
      [bookingId]="store.activeBooking()!.id"
      (goHome)="goHome()"
      (viewBooking)="viewBooking()"
    />
  } @else {
    <div class="flex flex-col gap-6 animate-fade-in">
      <app-booking-summary-card
        [movie]="store.movie()!"
        [screening]="store.screening()!"
        [tickets]="store.ticketsToDisplay()"
        [totalAmount]="store.estimatedTotal()"
        [selections]="store.ticketSelections()"
        [prices]="store.prices()"
      />
      <app-payment-method-selector
        [(paymentMethod)]="paymentMethod"
        [isProcessing]="store.isPaymentProcessing()"
        (pay)="pay()"
      />
    </div>
  }
</div>
