<div
  class="fixed bottom-0 left-0 w-full bg-element/95 backdrop-blur-md border-t border-app-border p-4 shadow-2xl z-50 animate-slide-up"
>
  <div
    class="container mx-auto max-w-4xl flex flex-col sm:flex-row justify-between items-center gap-4"
  >
    <div class="flex flex-col gap-1 text-center sm:text-left">
      <span class="text-xs text-app-muted uppercase tracking-wider font-bold">
        Wybrano miejsca ({{ store.selectedSeatsDetails().length }}):
      </span>

      <div class="flex flex-wrap gap-2 justify-center sm:justify-start">
        @for (seat of store.selectedSeatsDetails(); track seat.id) {
          <span
            class="bg-primary/10 text-primary px-3 py-1 rounded-full text-sm border border-primary/30 font-semibold"
          >
            R{{ seat.rowNumber }}/M{{ seat.seatNumber }}
          </span>
        }
      </div>

      <div class="text-sm mt-1 text-app-muted">
        Szacowany koszt: <span class="text-primary font-bold">{{ store.totalPrice() }} PLN</span>
      </div>
    </div>

    <p-button
      label="Dalej"
      icon="pi pi-arrow-right"
      iconPos="right"
      [loading]="store.isLoading()"
      (onClick)="nextStep()"
      styleClass="font-bold px-6 py-3 shadow-lg">
    </p-button>

  </div>
</div>
