@if (movieStore.selectedMovie(); as movie) {

  <div class="relative w-full h-[60vh] min-h-[500px]">

    <div class="absolute inset-0 bg-cover bg-center"
         [style.backgroundImage]="'url(' + movie.posterUrl + ')'">
    </div>

    <div class="absolute inset-0 sm:backdrop-blur-md"></div>
    <div
      class="absolute inset-0 bg-linear-to-b from-(--bg-app)/60 via-(--bg-app)/80 to-(--bg-app)"
    ></div>

    <div class="container mx-auto px-4 h-full flex items-end pb-16 relative z-10">
      <div class="flex flex-col md:flex-row gap-8 items-end w-full">

        <img [src]="movie.posterUrl"
             [alt]="movie.title"
             class="w-48 md:w-64 rounded-lg shadow-2xl border-4 border-app-element hidden md:block">

        <div class="flex-1">

          <p-button
            label="WRÓĆ DO REPERTUARU"
            icon="pi pi-arrow-left"
            [link]="true"
            (onClick)="goBack()"
            styleClass="p-0 mb-4 font-bold text-primary hover:text-primary-hover transition-colors no-underline"
          />

          <h1 class="text-4xl md:text-6xl font-black tracking-tight mb-4 text-main">
            {{ movie.title }}
          </h1>

          <div class="flex flex-wrap items-center gap-4 text-sm md:text-base font-medium">

            <div class="px-3 py-1 rounded-full border border-app-border bg-app-element text-app-text">
              {{ movie.genre | genreName }}
            </div>

            <span class="text-muted-color">{{ movie.durationMinutes }} min</span>
            <span class="text-muted-color">•</span>
            <span class="text-muted-color">{{ movie.director }}</span>
            <span class="text-muted-color">•</span>

            <p-tag
              [value]="movie.ageRating + '+'"
              class="text-primary"
            />
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container mx-auto px-4 py-12 grid grid-cols-1 lg:grid-cols-[2fr_1fr] gap-12">
    <app-movie-description [movie]="movie"/>
    <app-screening-dates [screenings]="screeningStore.screenings()" (screeningSelect)="handleScreeningSelect($event)"/>
  </div>

} @else if (movieStore.isLoading()) {

  <div class="container mx-auto py-20 text-center flex flex-col items-center gap-4">
    <app-spinner [label]="'ładowanie filmu...'"/>
    <p class="text-xl text-app-text">Szukanie filmu...</p>
  </div>

} @else {

  <div class="container mx-auto py-10 flex justify-center">
    <p-message severity="error">Nie znaleziono filmu o podanym ID.</p-message>
  </div>

}
