@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@layer theme, base, primeng, tailwind-utilities;

:root {
  --palette-red-vivid: #EF233C;
  --palette-red-dark: #D90429;
  --palette-black-deep: #1E1A1D;
  --palette-black-soft: #090909;
  --palette-white: #EDF2F4;

  --bg-app: var(--palette-white);
  --bg-element: #ffffff;
  --text-main: var(--palette-black-deep);
  --text-muted: #555555;
  --border-color: #d2cdcd;
  --bg-nav: #cbcbcb;
}

.dark-theme {
  --bg-app: var(--palette-black-deep);
  --bg-element: #22181C;
  --text-main: var(--palette-white);
  --text-muted: #d0d0d0;
  --border-color: #333333;
  --bg-nav: var(--palette-black-soft);
}

@theme {
  --color-primary: var(--palette-red-vivid);
  --color-primary-hover: var(--palette-red-dark);

  --color-app: var(--bg-app);
  --color-app-element: var(--bg-element);
  --color-app-nav: var(--bg-nav);
  --color-app-text: var(--text-main);
  --color-app-muted: var(--text-muted);
  --color-app-border: var(--border-color);
}

@layer base {
  body {
    background-color: var(--bg-app);
    color: var(--text-main);
    transition: background-color 0.3s, color 0.3s;
  }

  nav {
    background-color: var(--bg-nav) !important;
    color: var(--text-main);
  }
}
