<div
  class="fixed bottom-0 left-0 w-full bg-element border-t border-app-border p-4 shadow-2xs z-50 animate-slide-up">
  <div class="container mx-auto max-w-4xl flex justify-between items-center">

    <div>
      <span class="text-xs text-app-muted uppercase tracking-wider">Wybrano miejsca:</span>
      @for (seat of store.selectedSeatsDetails(); track seat.seatNumber) {
        <p>{{ seat }}</p>
      }
      <p>{{ store.selectedSeatsDetails() }}</p>
      <!--      <p class="text-xl font-bold text-main">Rząd: {{ seat().rowNumber }} Miejsce: {{ seat().seatNumber }}</p>-->
    </div>

    <p-button
      label="Dalej"
      icon="pi pi-arrow-right"
      iconPos="right"
      [loading]="store.isLoading()"
      (onClick)="nextStep()"
      styleClass="font-bold px-6 py-3 shadow-lg">
    </p-button>

  </div>
</div>
