<div class="bg-element p-6 rounded-lg shadow-lg border border-[var(--border-color)] sticky top-24">
  <h2 class="text-xl font-bold text-main mb-4 flex items-center gap-2">
    Filtrowanie
  </h2>

  <form [formGroup]="filterForm" class="flex flex-col gap-5">

    <div class="flex flex-col gap-2">
      <label class="text-sm font-bold text-[var(--text-muted)] uppercase tracking-wide" for="search">Szukaj</label>
      <input
        class="w-full bg-[var(--bg-app)] border border-[var(--border-color)] rounded p-2 text-main focus:outline-none focus:border-primary transition-colors placeholder:text-gray-600"
        formControlName="searchQuery"
        id="search"
        placeholder="Wpisz tytuł..."
        type="text"
      >
    </div>

    <div class="flex flex-col gap-2">
      <label class="text-sm font-bold text-[var(--text-muted)] uppercase tracking-wide" for="genre">Gatunek</label>
      <select
        class="w-full bg-[var(--bg-app)] border border-[var(--border-color)] rounded p-2 text-main focus:outline-none focus:border-primary transition-colors appearance-none cursor-pointer"
        formControlName="genre"
        id="genre"
      >
        <option value="">Wszystkie gatunki</option>

        @for (code of genreCodes; track code) {
          <option [value]="code">
            {{ code | genreName }}
          </option>
        }
      </select>
    </div>

    <div
      class="flex items-center gap-3 p-3 bg-[var(--bg-app)] rounded border border-[var(--border-color)] cursor-pointer hover:border-primary transition-colors">
      <input
        class="w-5 h-5 text-primary rounded focus:ring-primary bg-element border-gray-600 cursor-pointer accent-primary"
        formControlName="hideAdult"
        id="adult"
        type="checkbox"
      >
      <label class="text-sm text-main cursor-pointer select-none" for="adult">
        Tylko filmy rodzinne
        <span class="block text-xs text-[var(--text-muted)]">(Bez ograniczeń 16+)</span>
      </label>
    </div>

    <button (click)="filterForm.reset()"
            class="text-xs text-[var(--text-muted)] hover:text-primary underline self-end mt-2"
            type="button">
      Wyczyść filtry
    </button>

  </form>
</div>
