<div class="sticky top-24 p-6 rounded-xl border border-app-border bg-element shadow-sm h-fit">

  <h3 class="text-xl font-bold mb-6 flex items-center gap-2 text-main">
    <span class="text-2xl">🎬</span>
    Repertuar
  </h3>

  <div class="flex gap-2 mb-6 overflow-x-auto pb-2 scrollbar-thin">
    @for (day of days; track day.date) {
      <p-button
        [label]="day.label"
        [outlined]="selectedDate() !== day.date"
        [severity]="selectedDate() === day.date ? 'primary' : 'secondary'"
        (onClick)="selectDay(day.date)"
      />
    }
  </div>

  @if (filteredScreenings().length > 0) {
    <div class="flex flex-col gap-3">
      @for (screening of filteredScreenings(); track screening.id) {

        <button
          pRipple
          (click)="onScreeningClick(screening.id)"
          class="flex justify-between items-center p-4 rounded-lg border border-app-border hover:border-primary hover:bg-primary/5 transition-all group cursor-pointer text-left w-full focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 focus:ring-offset-app-element"
        >

          <div>
            <span class="text-xl font-bold text-main block group-hover:text-primary transition-colors">
              {{ screening.startTime | date:'HH:mm' }}
            </span>
            <span class="text-xs text-muted-color font-medium">
              {{ screening.theaterRoomName }}
            </span>
          </div>

          <span
            class="text-xs text-primary font-bold opacity-0 -translate-x-2 group-hover:opacity-100 group-hover:translate-x-0 transition-all duration-300 uppercase tracking-wider">
             Wybierz
          </span>
        </button>

      }
    </div>
  } @else {
    <div class="py-12 text-center text-app-muted flex flex-col items-center gap-2">
      <i class="pi pi-calendar-times text-2xl opacity-50"></i>
      <span>Brak seansów w wybranym dniu</span>
    </div>
  }
</div>
